@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
html{
    font-size: 62.5%; /* 16 mult 62.5% = 10rem */
    background: #222 url(../asset/montage.jpg)no-repeat fixed center center / cover;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
    font: 1.6rem "Roboto Slab", sans-serif; /* 16px */
    margin: 0;
    letter-spacing: 0.1rem; /* 1px */
    line-height: 1.6;
}

*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,
figure,blockquote{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
kbd{
    font-weight: normal;
}
/* reset inline */
a{
    text-decoration: none;
    color: var(--color-default-link);
}
button, input{
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: inherit;
}
img{
    display: inline-block;
    object-fit: cover;
}